{% extends "::intranet-layout.html.twig" %}
{%block title%}Accueil de l'étudiant{%endblock%}

{%block connected %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    
    

     <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{path('intranet_etudiant_compte')}} "><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="{{path('intranet_etudiant_message')}}"><i class="fa fa-fw fa-envelope"></i> Messages </a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </li>

            </ul>


{% else %}
<ul class="nav navbar-right top-nav">
<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
</ul>
    
{% endif %}

   

{%endblock%}
{%block menu%}

<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="activet">
                        <a href="{{path('intranet_etudiant_homepage')}}"><i class="fa fa-fw fa-home"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-university"></i> Ma classe <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{path('intranet_etudiant_ma_classe_actuelle')}} ">
                                    Informations
                                    <span class="details">
                                        Les détails: matières,...
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('intranet_etudiant_ma_classe_actuelle_edt')}} ">
                                    Emploi de temps
                                    <span class="details">
                                        Matières-professeurs-salles-jours-heures
                                    </span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                   
                    <li>
                        <a href="bootstrap-grid.html">
                            <i class="fa fa-fw fa-money"></i> 
                            Mes règlements
                        </a>
                    </li>
                    
                    <li>
                        <a href=" {{path('intranet_etudiant_compte')}} "><i class="fa fa-fw fa-user"></i> Mon compte</a>
                    </li>
                    <li>
                        <a href="{{path('intranet_etudiant_message')}}">
                            <i class="fa fa-envelope-o"></i>
                            Messages
                        </a>
                    </li>
                </ul>
            </div>
     {%endblock%}

{%block script%}
     <script src="{{asset('js/appEtudiant.js')}}"></script>
{%endblock%}