<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>institut architec de marrakech</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('css/grayscale.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset('font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
         #box-fixe{
    width: 220px;
    min-height: 300px;
    height: auto;
    background-color: red;
    position: fixed;
    top: 55px;
    left: -300px;
    z-index: 50;
}
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-home"></i> 
                    <span class="light">Accueil</span> 
                    <!-- <span id="scrolling">100</span>
                    <span id="top-about">100</span> -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">architec</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#formation">Formation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#inscription">E-Inscription</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Nous contacter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#plan">Plan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href=" {{path('accueil_intranet')}} ">Intranet</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="">institut architec de marrakech</h1>
                        <p class="intro-text">Votre tremplin vers l'entreprise</p>
                        
                    </div>
                </div>
        <div class="row text-align">
            <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
        </div>
            </div>
        </div>
        <!-- Header Carousel -->
    
    </header>



<div class="row">
    <div class="col-lg-2 col-md-3 hidden-sm hidden-xs">
        <div id="box-fixe" >
            box fixe
        </div>
    </div>
<div class="col-lg-9 col-md-9">

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-md-9">
                <h1>Se former S'épanouir c'est dans ARCHITEC</h1>
            </div>
        </div>
    <div class="row caroussel-section" >
        <div class="col-lg-10 col-md-9">
            <div id="myCarousel-2" class="carousel slide" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel-2" data-slide-to="1"></li>
            <li data-target="#myCarousel-2" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <!-- <div class="item ">
                <img src="{{asset('img/carroussel/04.jpg')}}">
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div> -->
            <div class="item active">
                <img src="{{asset('img/carroussel/01.jpg')}}">
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{asset('img/carroussel/02.jpg')}}">
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <img src="{{asset('img/carroussel/03.jpg')}}">
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
            
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-9 ">
                <h2>Qui sommes nous !</h2>

                <p>
                    L’institut Architec de Marrakech, <acronym title="Institut ARCHITEC de Marrakech">IAM</acronym>, est une école de formation privée autorisée par le Ministère de l'emploi et de la formation professionnelle du Maroc. Crée en 2005,Il exerce le leadership de pionnier dans les formations professionnelles à haute valeur ajoutée, assurant une formation de qualité et de développement de compétences.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Nos Filières</div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="active"><a href="#">Home</a></li>
                          <li><a href="#">Profile</a></li>
                          <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="inscription" class="content-section ">
        <div class="inscription-section">
            <div class="container">
                <div class="col-lg-10 col-md-9 ">
                <div class="text-align">
                    <h2 >
                        DEMANDE DE PREINSCRIPTION 
                    </h2>
                </div>
                    
                    <p class="alert alert-info">
                        Afin que votre demande d'Inscription soit prise en compte, vous devez minutieusement remplir le formulaire
                    </p>
                    <form role="form">
                        <div class="form-group col-md-4">
                            <label>Inscription en :</label>
                            <select required="required" class="form-control">
                                <option value>Niveau d'inscription</option>
                                <option value="1">1ère année</option>
                                <option value="2">2e année</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label>Filière :</label>
                            <select required="required" class="form-control">
                                <option value>Choisissez une filière</option>
                                <option value="1">Dessin de batimens</option>
                                <option>Infographie</option>
                                <option>Gestion informatisée</option>

                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Votre niveau scolaire :</label>
                            <select required="required" class="form-control" name="niv-sc">
                                <option value>Niveau scolaire</option>
                                <option value="1">Baccalauréat</option>
                                <option>3e année secondaire Sc.</option>
                                <option>3e année secondaire Lettre </option>

                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Nom :</label>
                            <input placeholder="Nom" required="required" class="form-control" type="text"> 
                        </div>
                        <div class="form-group col-md-4">
                            <label>Prenom :</label>
                            <input placeholder="Prenom" required="required" class="form-control" type="text"> 
                        </div>
                        <div class="form-group col-md-4">
                            <label>E-mail :</label>
                            <input placeholder="E-mail" required="required" class="form-control" type="mail"> 
                        </div>
                        <div class="form-group col-md-3">
                            <label>Ville :</label>
                            <input placeholder="Ville" name="ville" required="required" class="form-control" type="text"> 
                        </div>
                        <div class="form-group col-md-3">
                            <label>Téléphone fixe :</label>
                            <input placeholder="Téléphone fixe" name="tel-fixe" required="required" class="form-control" type="text"> 
                        </div>
                        <div class="form-group col-md-3">
                            <label>Téléphone mobile :</label>
                            <input placeholder="Téléphone mobile" name="tel-mob" required="required" class="form-control" type="text"> 
                        </div>
                        <div class="form-group col-md-3">
                            <label>Adresse :</label>
                            <input placeholder="Adresse" name="adresse" required="required" class="form-control" type="text"> 
                        </div>

                        <div class="form-group col-md-12">
                            <label>Rédiger quelques lignes motivant votre choix pour  <span class="btn-a">ARCHITEC</span> :</label>
                            <textarea name="motivation" required="required" class="form-control">
                                
                            </textarea>
                        </div>

                        <div class="text-align">
                            <input type="submit" value="Envoyer" class="btn btn-default">
                            <input type="reset" value="Annuler" class="btn btn-default">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Section formation -->
    <section id="formation" class="content-section text-center">
        <div class="formation-section">
            <div class="container">
                <div class="col-lg-10 col-md-9 ">
                    <!-- <h2>Section formation</h2> -->
                    <p style="color:#000">
                        L'Instiut ARCHITEC de Marrakech propose des programmes de formation professionnelle de haut niveau adaptés aux besoins du marché de l'emploi en : Dessin de batiments, Conducteur de traveaux et Inforgaphie. 
                    </p>
                </div>
            </div>
            <div> 
             
        </div>

        </div>
<div class="container">
            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">Technicien spécialisé Conducteur de Traveaux</div>
                    <div class="panel-body">
                        Le conducteur de travaux est un homme de terrain responsable de plusieurs chantiers. Il contrôle toutes les étapes du chantier, depuis l’étude du dossier technique jusqu’à la réception des travaux.Il assure la phase
                        de préparation, alloue les moyens necéssaires et définit le calendrier d'exécution des travaux. 
                        Il est responsable de la qualité des travaux effectués, de la tenue des délais et du respect du budget.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Technicien spécialisé en dessin de batiments (cours du jour / cours du soir) 
                    </div>
                    <div class="panel-body">
                        Le dessinateur en bâtiment exerce son activité en cabinet d’architecte, bureau d’études techniques ou administrations de génie civile. Il établit les plans de construction à usage d’habitation (maison individuelle ou immeuble collectif) et en fait la description. 
                    </div>
                </div>
            </div>
        </div>
       
    </section>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row contact-section">
            <div class="col-lg-10 col-md-9 ">
                <h3>Contact Institut ARCHITEC de Marrakech</h3>

                <p>
                    LImm. Al Massira appts 11, 12, 13 rue Al Khawarizmi unité 2 Daoudiate Marrakech.

                </p>
                <p><a href="mailto:i.a.m@menara.ma" class="btn-o">i.a.m@menara.ma</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li class="btn btn-default btn-lg">
                      <i class="fa fa-phone fa-fw"></i>  <span class="network-name">(212) 5 24 30 37 60</span>
                    </li>
                    <li class="btn btn-default btn-o btn-lg">
                      <i class="fa fa-envelope-o fa-fw"></i>  <span class="network-name">i.a.m@menara.ma</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    
    

    <!-- Section map -->
    <section id="plan" class="content-section text-center">
        <div class="plan-section">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Localisation de IAM</h2>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 2014 | institut architec de marrakech</p>
        </div>
    </footer>

    <!-- finition -->
    </div>
</div>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{asset('js/jquery-1.11.0.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{asset('js/jquery.easing.min.js')}}"></script>
    <script src="{{asset('js/app.js')}}"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{asset('js/grayscale.js')}} "></script>

     <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });
    </script>

</body>

</html>
