{% extends "IntranetAdminBundle::layout.html.twig" %}
{%block title%}ajout d'une classe{%endblock%}
{%block body%}
<p >
{% for message in app.session.flashbag.get('info') %}
<p class="alert span6 alert-info alert-block" style="text-align:center;margin-left:auto;margin-right:auto" > {{ message }}</p>
{% endfor %}
</p>

<div class="panel panel-default">
  <div class="panel-heading"><h3>Ajout d'une classe</h3></div>
  {{ form_start(form, {'attr': {'role':'form'}}) }}
  {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
  <div class="panel-body">
  <div class="form-group col-md-6">
      {# Génération du label. #}
      {{ form_label(form.filiere, "Filière de la classe") }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.filiere) }}

      {# Génération de l'input. #}
      {{ form_widget(form.filiere, {'attr': {'class': 'form-control','placeholder':'Nom de la classe'}}) }}
    </div>
    <div class="form-group col-md-6">
      {# Génération du label. #}
      {{ form_label(form.niveau, "Niveau de la classe") }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.niveau) }}

      {# Génération de l'input. #}
      {{ form_widget(form.niveau, {'attr': {'class': 'form-control','placeholder':'Nom de la classe'}}) }}
    </div>
    <div class="form-group col-md-6">
      {# Génération du label. #}
      {{ form_label(form.nom, "Nom de la classe") }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}

      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':'Nom de la classe'}}) }}
    </div>

    <div class="form-group col-md-12">
      {# Génération du label. #}
      {{ form_label(form.description, "Description") }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.description) }}

      {# Génération de l'input. #}
      {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
  {{ form_rest(form) }}
 </div>
 
  <div class="panel-footer">
    <input type="submit" value="Ajouter" class="btn btn-primary ">
    <input type="reset" value="Annuler" class="btn btn-default ">
  </div>
   {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
{%endblock%}
