{% extends "IntranetAdminBundle::layout.html.twig" %}
{%block title%}voir un professeur | {{professeur.prenom}} {{professeur.nom}}{%endblock%}
{%block body%}
	{%if professeur is not null%}

		<p >
{% for message in app.session.flashbag.get('info') %}
<p class="alert span6 alert-info alert-block" style="text-align:center;margin-left:auto;margin-right:auto" > {{ message }}</p>
{% endfor %}
</p>

		<div class="row">
			<div class="col-md-2 col-sm-3 image-profil">
			<div>
				{%if professeur.compte is not null %}		
				<img  class="thumbnail" src=" {{asset('img/profil/')}}{{professeur.compte.image}}">
					
					<div class="label label-success">
					Ajouté : {{professeur.date|date("d-M-Y")}} 
					</div>
				{%else%}
					<img  class="thumbnail" src=" {{asset('img/profil/default-no.png')}}">
					<a class="btn btn-success btn-xs" href=" {{path('intranet_admin_ajout_compte_professeur',{id:professeur.id})}} ">Ajouter un compte</a>
				{%endif%}
			</div>
			</div>
			<div class="col-md-10 col-sm-9 contenu-profil">
				
					<div class="pre-nom col-md-8 col-sm-8 col-xs-7">
					{{professeur.prenom}} <span class="nom">{{professeur.nom}}</span>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-5 text-right">
						<a class="btn btn-default btn-xs" href=" {{path('intranet_admin_modifier_professeur',{id:professeur.id})}} ">modifier</a>
						<a class="btn btn-default btn-xs" href="{{path('intranet_admin_liste_professeur')}}">les professeurs</a>
					</div>
				
 <div class="row" style="padding-top:20px;">
					 
					 <div class="tabbable tabs-center">
						<ul class="nav nav-tabs ">
							<li class="active">
								<a href="#Information" data-toggle="tab">Informations</a>
							</li>
							<li >
								<a href="#matieres" data-toggle="tab">Matières</a>
							</li>
							
							<li>
								<a href="#témoignages" data-toggle="tab">Documents</a>
							</li>
						</ul>
						<div class="tab-content" style="padding-top:20px;">

							
							<div class="tab-pane active" id="Information">
								<table class="table-condensed ">
								<tr>
									<td>
										<span class="badge">Nom : </span>
									</td>
									<td> <strong>{{professeur.nom}}</strong> </td>
									
								</tr>
								<tr>
									<td>
										<span class="badge">Prenom : </span>
									</td>
									<td> <strong>{{professeur.prenom}}</strong> </td>
								</tr>
								<tr>
									<td>
										<span class="badge">Matricule : </span>
									</td>
									<td> <strong>{{professeur.matricule}}</strong> </td>
								</tr>
								<tr>
									<td>
										<span class="badge">Email : </span>
									</td>
									<td> <strong>{{professeur.email}}</strong> </td>
								</tr>
								<tr>
									<td>
										<span class="badge">Date de naissance : </span>
									</td>
									<td> <strong>{{professeur.datenaissance|date("d-M-Y")}}</strong> </td>
								</tr>
								<tr>
									<td>
										<span class="badge">Téléphone : </span>
									</td>
									<td> <strong>{{professeur.telephone}}</strong> </td>
								</tr>
								<tr>
									
									<td> <span class="label label-info">{{professeur.genre}}</span> </td>
									<td></td>
								</tr>
								</table>
							</div>
							<div class="tab-pane" id="témoignages">
								<div class="container">
									Tous les documents pour l'inscription
								</div>
							</div>

							<div class="tab-pane" id="matieres">
								
							<div class="panel panel-default">
					<div class="panel-heading">
						<h3> <i class="fa-cubes fa"></i> Les matières enseignées 

							<a href="{{path('intranet_admin_affecter_matiere',{id:professeur.id})}} " class="btn btn-default btn-xs"
							style="float:right" 
							>Ajouter des matières</a>
						</h3>
					</div>
					<form method="post" role="form">
						<div class="panel-body">
								{%for pm in professeur.matieres %}
								{%set fil = pm.matiere %}
							<div class="col-md-3 form-group">
								<label for="fil{{fil.id}}">{{fil.nom}}</label>
								<input type="checkbox" name="fil{{fil.id}}" id="fil{{fil.id}}" value="{{pm.id}}">
							</div>

						{%endfor%}
						</div>
						<div class="panel-footer">
							<input type="submit" class="btn btn-success" value="Supprimer">
							<input type="reset" class="btn btn-default" value="Annuler">
						</div>
					</form>
					
				</div>

							</div>
					</div>

				</div>
				</div>
				
			

		</div>
	{%endif%}
	

	
{%endblock%}
