{% extends "::intranet-layout.html.twig" %}
{%block title%}Accueil de l'administrateur{%endblock%}

{%block connected %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    
    

     <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                </li>

            </ul>


{% else %}
<ul class="nav navbar-right top-nav">
<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
</ul>
    
{% endif %}

   

{%endblock%}


{%block menu%}

<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href=" {{path('intranet_admin_accueil')}} "><i class="fa fa-fw fa-home"></i> Home </a>
                    </li>
                    

                    <li class="active-">
                        <a href="javascript:;" data-toggle="collapse" data-target="#etudiantsBlock"><i class="fa fa-fw fa-user fa-1x"></i> Etudiants <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="etudiantsBlock" class="collapse">
                        	<li>
                                <a href=" {{path('intranet_admin_ajout_etudiant')}} "> 
                                <i class="fa fa-fw fa-plus"></i> Nouvel étudiant
								<span class="details">Ajouter les détails d'un étudiant</span>
                                </a>

                            </li>
                            <li class="active">
                                <a href=" {{path('intranet_admin_liste_etudiant')}} "> <i class="fa fa-fw fa-list"></i> liste étudiants
                                <span class="details">Voir les détails des étudiants</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#professeurBlock"><i class="fa fa-fw fa-user"></i> Professeurs <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="professeurBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                     <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#coursBlock"><i class="fa fa-fw fa-book"></i> Cours <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="coursBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus"></i> Nouveau cours</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste cours</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#evaluationBlock"><i class="fa fa-fw fa-edit"></i> Evaluations <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="evaluationBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#emploidetempsBlock"><i class="fa fa-fw fa-calendar"></i> Emplois de temps <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="emploidetempsBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus-circle"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#comptabiliteBlock"><i class="fa fa-fw fa-money"></i> Comptabilité <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="comptabiliteBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#librairieBlock"><i class="fa fa-fw fa-bank"></i> Librairie <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="librairieBlock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a href="javascript:;" data-toggle="collapse" data-target="#gerercompteblock"><i class="fa fa-fw fa-users"></i> Gérer compte <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="gerercompteblock" class="collapse">
                        	<li>
                                <a href="#"> <i class="fa fa-fw fa-plus-square"></i> Nouvelle évaluation</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-list"></i> liste évaluations</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-fw fa-bookmark"></i> type évaluations</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-comments-o"></i> Forum</a>
                    </li>
                </ul>
            </div>
     {%endblock%}